* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Simps";
    src: url("/styles/fonts/SimsLLHP.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Fantasy";
    background-image: url(/img/fondo.jpg);
    background-repeat: repeat;
    color: white;
}

h1 {
    font-family: "Simps", "Fantasy";
    font-size: 3em;
    letter-spacing: 4px;
    margin: 30px auto 0;
}

.negro {
    color: rgb(31, 30, 30);
    font-size: 2.5em;
}

p {
    margin: 30px;
    font-family: "Fantasy";
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing: 2px;
    word-spacing: 2px;
}

section {
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 30px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    background-color: aliceblue;
}

.cell:hover {
    background-color: rgb(228, 228, 228);
}

#game_restart {
    border-radius: 5px;
    font-size: 1.5em;
    font-family: fantasy;
    background-color: dodgerblue;
    padding: 15px;
    border: none;
    color: white;
    margin-bottom: 30px;
}

#game_restart:hover {
    background-color: rgb(12, 118, 224);
    cursor: pointer;
    color: rgb(224, 224, 224);
}

/* MODAL */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.mostrar {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
